
html {
	font-family: 'Raleway'
}

body {
	width: 100%;
	height: 100%;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container{
	width: 1054px;
	margin: 0 auto;
	padding: 10px;
}

.hidden{
	display: none;
}
